* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', Helvetica, sans-serif;
}

:root {
    --white: rgb(248, 248, 248);
    --light-blue: rgb(213, 225, 237);
}

body {
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* FORM CONTAINER */
.form-container {
    background: var(--white);
    height: 300px;
    width: 400px;
    padding: 30px;
}

h4 {
    padding-bottom: 5px;
}
label {
    display: flex;
    flex-direction: column;
}
